@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body section,
header {
  padding: 0;
  margin: 0;
}

/* QUERY FOR MOBILE FIRST */
html,
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* This ensures that the total height is at least the height of the viewport */
  margin: 0;
  padding: 0;
  background-color: hsl(210, 70%, 91%);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.articleContainer {
  width: 100%;
  min-height: 700px; /* Use min-height to accommodate varying content sizes */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0;
}

.shareIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  position: absolute;
  top: 633px;
  right: 60px;
  z-index: 3;
  background-color: hsl(210, 70%, 91%);
  transition: transform 0.5s ease;
}
.shareIconContainer:hover {
  color: hsl(167, 89%, 33%);
  transform: scale(1.2);
}
.shareIconContainer__shareIcon {
  width: 1rem;
  height: 1rem;
  margin: 0 auto;
}

.card {
  width: 375px;
  min-height: 400px; /* Use min-height to accommodate varying content sizes */
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 15px;
  margin-bottom: 1rem;
  background-color: hsl(0, 0%, 100%);
}
.card__bgImage {
  width: 100%;
  height: auto;
}
.card__img {
  width: 100%;
  height: auto;
  margin-bottom: 3.2rem;
  border-radius: 15px 15px 0px 0px;
}
.card__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
}

h1 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 1.5;
  color: hsl(217, 19%, 35%);
  margin-bottom: 1.5rem;
}
h1:hover {
  color: hsl(167, 89%, 33%);
}

h2 {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.5;
  color: hsl(217, 19%, 35%);
  margin-bottom: 2rem;
}

p {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.5;
  color: hsl(214, 17%, 51%);
}

.paragraph {
  margin-bottom: 3rem;
}

.textDark {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 0.5;
  color: hsl(217, 19%, 35%);
}

.textGray {
  margin-top: 1rem;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 0.5;
  color: hsl(212, 23%, 69%);
}

.author {
  height: 5rem;
  display: flex;
  align-items: center;
}
.author__photo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: url(../assets/images/avatar-michelle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 1rem;
}
.author__info {
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal {
  width: 375px;
  height: 80px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 610px;
  opacity: 0;
  animation: float 3s ease-in-out infinite;
  padding: 1rem;
  border-radius: 0px 0px 15px 15px;
  background-color: hsl(217, 19%, 35%);
}
.modal__shareText {
  letter-spacing: 0.3rem;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(212, 23%, 69%);
  transition: transform 0.5s ease;
}
.modal__shareText:hover {
  color: hsl(167, 89%, 33%);
  border-color: #ccc;
  transform: scale(1.2);
}
.modal__socialMedia {
  width: 150px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.modal__socialMedia__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  transition: transform 0.5s ease;
}
.modal__socialMedia__link:hover {
  color: hsl(167, 89%, 33%);
  border-color: #ccc;
  transform: scale(1.2);
}
.modal__socialMedia__link i {
  font-size: 18px;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.modal {
  animation: float 3s ease-in-out infinite;
}

.myButton {
  width: 100%;
  height: 3.5rem;
  border-style: none;
  border-radius: 7px;
  color: var(--color-White);
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
  background-color: var(--color-Dark-Green);
}

.myButton:hover {
  background-color: var(--color-Light-Green);
  cursor: pointer;
  /* color: var(--color-Dark-Green); */
}

.footerContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attribution {
  text-align: center;
  margin-bottom: 3rem; /* Keeps the footer at the bottom but only after all other content */
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media (min-width: 650px) {
  main {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 6rem;
  }
  .articleContainer {
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
  }
  .shareIconContainer {
    position: absolute;
    top: 345px;
    right: 50px;
  }
  .card {
    min-width: 800px; /* Use min-height to accommodate varying content sizes */
    max-height: 400px; /* Use min-height to accommodate varying content sizes */
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    margin: 0 auto;
  }
  .card__bgImage {
    width: 100%;
    height: auto;
  }
  .card__img {
    width: 100%;
    height: 100%;
    margin-bottom: 3.2rem;
    border-radius: 15px 0px 0px 15px;
  }
  .card__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: 2rem;
  }
  .modal {
    width: 400px;
    height: 55px;
    top: 275px;
    left: 500px;
    border-radius: 10px 10px 10px 10px;
  }
}
/* transition: transform 0.5s ease;
&:hover {
  color: color('soft-magenta'); 
  transform: scale(1.2);
}  */

/*# sourceMappingURL=styles.css.map */
